.testimonial {
    font-size: 1.2rem;
    margin: 3rem 0;
  }
  
  .testimonial__list {
    width: 80%;
    margin: auto;
  }
  

  .testimonial__image-container {
    box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.3);
  }

  .testimonial__image {
    width: 100%;
    vertical-align: top;
  }
  
  .testimonial__info {
    text-align: center;
    padding: 0.9rem;
  }
  
  #customer-2.testimonial {
    text-align: right;
    display: flex;
    flex-direction: column-reverse;
  }
  
  #customer-2 .testimonial__info {
    text-align: center;
  }
  
  .testimonial__name {
    margin: 0.2rem;
    color: #ff5454;
    font-size: 2rem;
  }
  
  .testimonial__subtitle {
    margin: 0;
    font-size: 1.1rem;
    color: #ccc;
  }
  
  .testimonial__subtitle a {
    color: inherit;
    text-decoration: none;
  }
  
  .testimonial__subtitle a:hover,
  .testimonial__subtitle a:active {
    color: #7a7a7a;
  }

  .testimonial__text {
    margin: 0.2rem;
  }


  @media (min-width:40rem){

    .testimonial:first-of-type {
      margin-top: 6rem;
    }

    .testimonial{
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .testimonial__image-container{
      width: 65%;
      max-width: 580px;
      
    }

    #customer-1 .testimonial__image-container{
      animation-name: moveRight;
      animation-duration: 2s;
    }

    #customer-2 .testimonial__image-container{
      animation-name: moveLeft;
      animation-duration: 2s;
    }

    .testimonial__info {
      text-align: right;
      padding: 0.9rem;
      width: 30%;
      animation-name: text;
      animation-duration: 2.5s;
    }

    #customer-2.testimonial {
      text-align: right;
      display: flex;
      flex-direction: row;
    }

    #customer-2 .testimonial__info {
      text-align: left;
    }
  }


  @keyframes moveRight{
    0%{
        transform: translateX(-100%);
        opacity: 0.2;
    }

    90%{
      transform: translateX(10%);
        opacity: 0.5;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveLeft{
  0%{
      transform: translateX(100%);
      opacity: 0.2;
  }

  90%{
    transform: translateX(-10%);
      opacity: 0.5;
  }

  100%{
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes text{
  0%{
    opacity: 0.2;
}

90%{
    opacity: 0.5;
}

100%{
    opacity: 1;
}
}
  
  